<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="theme-color" content="#121212">
<meta name="robots" content="noarchive">
{% seo %}
<link rel="manifest" href="/manifest.json">
<link rel="icon" href="/assets/images/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/assets/images/favicon.png">
<link rel="stylesheet" href="{{ '/assets/css/tailwind.css?v=' | append: site.github.build_revision | relative_url }}">
<script>
  function updateTheme() {
    if (!('theme' in localStorage)) {
      localStorage.setItem('theme', 'system')
    }

    switch (localStorage.getItem('theme')) {
      case 'system':
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          document.documentElement.classList.add('dark')
        } else {
          document.documentElement.classList.remove('dark')
        }
        document.documentElement.setAttribute('color-theme', 'system')
        break
      case 'dark':
        document.documentElement.classList.add('dark')
        document.documentElement.setAttribute('color-theme', 'dark')
        break
      case 'light':
        document.documentElement.classList.remove('dark')
        document.documentElement.setAttribute('color-theme', 'light')
        break
    }
  }

  updateTheme()
</script>
