<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    {% include head.html %}
  </head>
  <body class="container grid grid-cols-4 lg:container lg:my-4">
    {% include header.html %}
    <main class="col-span-full lg:col-span-3">
      {{ content }}
    </main>
    {% include footer.html %}
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/assets/js/serviceworker.js');
        })
      }
    </script>
  </body>
</html>
